<!DOCTYPE html>
<html>

<head>
  <!-- Title of the page -->
  <title>WMS</title>
  <!-- Linking external CSS file -->
  <link rel="stylesheet" href="/home.css">
</head>

<body>
  <!-- Main container with background -->
  <div class="backgroundd">
    <!-- Header section with logo, title, and logout link -->
    <header>
      <!-- Logo image -->
      <img src="logo.png" class="logo">
      <!-- Title of the system -->
      <h1>WORK MANAGEMENT SYSTEM</h1>
      <!-- Link to log out -->
      <a href="/">LogOut</a>
    </header>
    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Main content section -->
      <div class="Content">
        <!-- Heading -->
        <h2>OPTIMIZE YOUR WORK</h2>
        <!-- Description -->
        <p>Elevate your management system with an outstanding way of optimal work allocation</p>
        <!-- Buttons for navigating to different sections -->
        <div>
          <!-- Button to view work details -->
          <a href="/works"><button type="button"><span></span>WORK<br>DETAILS</button></a>
          <!-- Button to view worker details -->
          <a href="/workers"><button type="button"><span></span>WORKERS<br>DETAILS</button></a>
          <!-- Button to assign work -->
          <a href="/works/assignment"><button type="button"><span></span>WORK<br> ASSIGNMENT</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer section -->
  <footer>
    <!-- Copyright notice with dynamic year -->
    <p>Copyright &copy;
      <script> document.write(new Date().getFullYear());</script>
    </p>
  </footer>
</body>

</html>
