* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #c3e2e7;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #99c2ce;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 30px;
    text-align: center;
}

.work-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-details .Input_style {
    width: calc(50% - 10px);
    margin: 20px 0 12px 0;
    text-align: left;
}

.work-details .Input_style input,
.work-details .Input_style select {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.work-details .Input_style:last-child {
    width: 100%;
    margin: 20px 0;
}

button {
    width: 400px;
    padding: 12px 10px;
    text-align: center;
    margin: 20px auto;
    border-radius: 0px;
    font-size: 16px;
    background-color: #1d9bb4;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #308389;
}

footer {
    text-align: center;
    background-color: #4d6972;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    visibility: visible;
    display: block;
    color: #fff;
}